<li style="background-image: url({{ asset('../images/banner.jpg') }}); background-repeat: no-repeat; height: 275px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 no_pad">
                <img src="{{ asset('../images/img_all.gif') }}" alt="" class="img-responsive" style=""/>

                <div class="texto_slide_banner" style="margin-top: 60px">
                    <div class="title">{{ 'label.landing_page_text_closing_1'|trans }}</div>
                    <div class="clear-fix"></div>
                    <div class="texto">{{ 'label.landing_page_text_closing_3'|trans }}</div>
                    <div class="btn-bills">
                        <div class="">
                            <a href="{{ path('list_winners') }}" target="_blank" class="button-orange">{{ 'label.landing_page_view_winners'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

