{% extends "::base.html.twig" %}

{% block page_header %}{{ 'title.forgot_password'|trans }}{% endblock %}

{% block content %}
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" novalidate="novalidate">
        {# form_widget(form) #}

        <div class="row bg_white form-horizontal margin-top-15">
            <div class="col-sm-12 header_form">
                {{ 'title.reset_password.enter_new_password'|trans }}
            </div>
            <div class="form_container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.current_password, null, {'label_attr':{'class': 'col-sm-4 control-label' }}) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.current_password, { 'attr': { 'autocomplete': 'off' }  }) }}
                                {{ form_errors(form.current_password) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.new.first, null, {'label_attr':{'class': 'col-sm-4 control-label' }}) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.new.first, { 'attr': { 'autocomplete': 'off' }  }) }}
                                {{ form_errors(form.new.first) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.new.second, null, {'label_attr':{'class': 'col-sm-4 control-label' }}) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.new.second, {  'attr': { 'autocomplete': 'off' } }) }}
                                {{ form_errors(form.new.second) }}
                            </div>
                        </div>
                    </div>
                </div>
                <p class="help-block">{{ 'label.password_pattern_instructions'|trans }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right p_t30 p_b30">
                 <input type="submit" class="bg_orange" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
            </div>
        </div>
    </form>

{% endblock %}
